---
http_interactions:
- request:
    method: get
    uri: https://api.hubapi.com/engagements/v1/engagements/paged?limit=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=utf-8
      x-trace:
      - 2BBBBDA3217E119170CD80957054B77652F679253F000000000000000000
    body:
      encoding: UTF-8
      string: '{"results":[{"engagement":{"id":1092032676,"portalId":4738746,"active":true,"createdAt":1531741760764,"lastUpdated":1531741760764,"createdBy":6212350,"modifiedBy":6212350,"ownerId":32921899,"type":"TASK","timestamp":1531778400000},"associations":{"contactIds":[],"companyIds":[],"dealIds":[],"ownerIds":[],"workflowIds":[],"ticketIds":[],"contentIds":[]},"attachments":[],"scheduledTasks":[{"engagementId":1092032676,"portalId":4738746,"engagementType":"TASK","taskType":"REMINDER","timestamp":1531807200000,"uuid":"TASK:b90ec6f0-d785-4834-8c25-b5123578a77f"}],"metadata":{"status":"NOT_STARTED","subject":"calllme","taskType":"CALL","reminders":[1531807200000]}}],"hasMore":true,"offset":1092032676}'
  recorded_at: Wed, 18 Jul 2018 13:50:23 GMT
- request:
    method: get
    uri: https://api.hubapi.com/engagements/v1/engagements/paged?limit=1&offset=1092032676
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=utf-8
      x-trace:
      - 2B97B9BF3BD7A6146D66615F95E62B4FEC73BFE4FC000000000000000000
    body:
      encoding: UTF-8
      string: '{"results":[{"engagement":{"id":1092079756,"portalId":4738746,"active":true,"createdAt":1531742075720,"lastUpdated":1531742080573,"createdBy":6212350,"modifiedBy":6212350,"ownerId":32921899,"type":"TASK","timestamp":1531778400000},"associations":{"contactIds":[],"companyIds":[],"dealIds":[],"ownerIds":[],"workflowIds":[],"ticketIds":[],"contentIds":[]},"attachments":[],"scheduledTasks":[{"engagementId":1092079756,"portalId":4738746,"engagementType":"TASK","taskType":"REMINDER","timestamp":1531807200000,"uuid":"TASK:232b3235-fb4c-4b0c-8f02-eacc8b25c4f4"}],"metadata":{"status":"COMPLETED","subject":"mailcompleted","taskType":"EMAIL","reminders":[1531807200000]}}],"hasMore":false,"offset":1092079756}'
  recorded_at: Wed, 18 Jul 2018 13:50:24 GMT
recorded_with: VCR 4.0.0
