---
http_interactions:
- request:
    method: get
    uri: https://api.hubapi.com/oauth/v1/access-tokens/access_token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=utf-8
      x-trace:
      - 2B7026395FD83A39BFDBEEB3F5E9A53F07C6F5038F000000000000000000
    body:
      encoding: UTF-8
      string: '{"token":"access_token","user":"adam@saleskick.co","hub_domain":"adamsales-dev-4738746.com","scopes":["contacts","oauth"],"hub_id":4738746,"app_id":177721,"expires_in":19407,"user_id":6212350,"token_type":"access"}'
  recorded_at: Fri, 20 Jul 2018 08:32:15 GMT
recorded_with: VCR 4.0.0
