---
http_interactions:
- request:
    method: get
    uri: https://api.hubapi.com/deals/v1/deal/paged?limit=250&properties=hubspot_owner_id&properties=amount
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=utf-8
      x-trace:
      - 2B13BF685502F846A4F97A9D6D566AD934052C42C0000000000000000000
    body:
      encoding: UTF-8
      string: '{"deals":[{"portalId":4738746,"dealId":322296361,"isDeleted":false,"associations":null,"properties":{"amount":{"value":"40","timestamp":1531737409030,"source":"CRM_UI","sourceId":"adam@saleskick.co","versions":[{"name":"amount","value":"40","timestamp":1531737409030,"sourceId":"adam@saleskick.co","source":"CRM_UI","sourceVid":[]}]},"hubspot_owner_id":{"value":"32921899","timestamp":1531737409030,"source":"CRM_UI","sourceId":"adam@saleskick.co","versions":[{"name":"hubspot_owner_id","value":"32921899","timestamp":1531737409030,"sourceId":"adam@saleskick.co","source":"CRM_UI","sourceVid":[]}]}},"imports":[],"stateChanges":[]},{"portalId":4738746,"dealId":322298530,"isDeleted":false,"associations":null,"properties":{"amount":{"value":"45","timestamp":1531744369560,"source":"CRM_UI","sourceId":"adam@saleskick.co","versions":[{"name":"amount","value":"45","timestamp":1531744369560,"sourceId":"adam@saleskick.co","source":"CRM_UI","sourceVid":[]}]},"hubspot_owner_id":{"value":"32921899","timestamp":1531743503592,"source":"CRM_UI","sourceId":"adam@saleskick.co","versions":[{"name":"hubspot_owner_id","value":"32921899","timestamp":1531743503592,"sourceId":"adam@saleskick.co","source":"CRM_UI","sourceVid":[]}]}},"imports":[],"stateChanges":[]}],"hasMore":false,"offset":322298530}'
  recorded_at: Wed, 18 Jul 2018 12:16:41 GMT
recorded_with: VCR 4.0.0
