---
http_interactions:
- request:
    method: get
    uri: https://api.hubapi.com/deals/v1/deal/paged?limit=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - 2B2B8D99BFACBE398CDDCF54909044CB2C1B57BE99000000000000000000
    body:
      encoding: UTF-8
      string: '{"deals":[{"portalId":4738746,"dealId":322296361,"isDeleted":false,"associations":null,"properties":{},"imports":[],"stateChanges":[]}],"hasMore":true,"offset":322296361}'
      effective_url: https://api.hubapi.com/deals/v1/deal/paged?limit=1
  recorded_at: Wed, 18 Jul 2018 09:36:02 GMT
- request:
    method: get
    uri: https://api.hubapi.com/deals/v1/deal/paged?limit=1&offset=322296361
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - 2B55A0938463251F1CA36874855A8F36B1DA7A3B36000000000000000000
    body:
      encoding: UTF-8
      string: '{"deals":[{"portalId":4738746,"dealId":322298530,"isDeleted":false,"associations":null,"properties":{},"imports":[],"stateChanges":[]}],"hasMore":false,"offset":322298530}'
      effective_url: https://api.hubapi.com/deals/v1/deal/paged?limit=1&offset=322296361
  recorded_at: Wed, 18 Jul 2018 09:36:02 GMT
recorded_with: VCR 4.0.0
