---
http_interactions:
- request:
    method: get
    uri: https://api.hubapi.com/owners/v2/owners
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=utf-8
      x-trace:
      - 2BB93D62AB35E4A980AAAA7843ED8404338F10AAFF000000000000000000
    body:
      encoding: UTF-8
      string: '[{"portalId":4738746,"ownerId":32921899,"type":"PERSON","firstName":"Adam","lastName":"Zapaśnik","email":"adam@saleskick.co","createdAt":1531736873605,"updatedAt":1531736873605,"remoteList":[{"id":28319039,"portalId":4738746,"ownerId":32921899,"remoteId":"6212350","remoteType":"HUBSPOT","active":true}],"hasContactsAccess":false}]'
  recorded_at: Fri, 20 Jul 2018 08:32:15 GMT
recorded_with: VCR 4.0.0
