---
http_interactions:
- request:
    method: get
    uri: https://api.hubapi.com/engagements/v1/engagements/recent/modified?count=100&since=1531741760765
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=utf-8
      x-trace:
      - 2B477FFCB71EB841CE130BD50BCDAC9767AF657FA8000000000000000000
    body:
      encoding: UTF-8
      string: '{"results":[{"engagement":{"id":1092079756,"portalId":4738746,"active":true,"createdAt":1531742075720,"lastUpdated":1531742080573,"createdBy":6212350,"modifiedBy":6212350,"ownerId":32921899,"type":"TASK","timestamp":1531778400000},"associations":{"contactIds":[],"companyIds":[],"dealIds":[],"ownerIds":[],"workflowIds":[],"ticketIds":[],"contentIds":[]},"attachments":[],"scheduledTasks":[{"engagementId":1092079756,"portalId":4738746,"engagementType":"TASK","taskType":"REMINDER","timestamp":1531807200000,"uuid":"TASK:232b3235-fb4c-4b0c-8f02-eacc8b25c4f4"}],"metadata":{"status":"COMPLETED","subject":"mailcompleted","taskType":"EMAIL","reminders":[1531807200000]}}],"hasMore":false,"offset":1,"total":1}'
  recorded_at: Fri, 20 Jul 2018 08:16:45 GMT
recorded_with: VCR 4.0.0
