---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/oauth/v1/token
    body:
      encoding: US-ASCII
      string: client_id=client_id&client_secret=client_secret&grant_type=refresh_token&redirect_uri=test_redirect_uri&refresh_token=refresh_token
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - 2B22D76DDE2759F1EFFB6D791245E4ECC6DFAB20AA000000000000000000
    body:
      encoding: UTF-8
      string: '{"status":"BAD_REFRESH_TOKEN","message":"missing or invalid refresh
        token","correlationId":"3e2888fe-99cc-4566-ab2a-7e85565bb058","requestId":"27ceaee5cb8ee346ad0f1eff70b373e8"}'
      effective_url: https://api.hubapi.com/oauth/v1/token
  recorded_at: Wed, 18 Jul 2018 08:27:57 GMT
recorded_with: VCR 4.0.0
