---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/oauth/v1/token
    body:
      encoding: UTF-8
      string: client_id=client_id&client_secret=client_secret&code=code&grant_type=authorization_code&redirect_uri=test_redirect_uri
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=utf-8
      x-trace:
      - 2BA8CED42C1CB570E63C87C1BD21C8A74797A37D6B000000000000000000
    body:
      encoding: UTF-8
      string: '{"refresh_token":"refresh_token","access_token":"access_token","expires_in":21600}'
  recorded_at: Fri, 20 Jul 2018 10:01:50 GMT
- request:
    method: get
    uri: https://api.hubapi.com/oauth/v1/access-tokens/access_token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=utf-8
      x-trace:
      - 2BBACBAD9C7DD2848FA679B8127631F5CC2351CC0B000000000000000000
    body:
      encoding: UTF-8
      string: '{"token":"access_token","user":"adam@saleskick.co","hub_domain":"adamsales-dev-4738746.com","scopes":["contacts","oauth"],"hub_id":4738746,"app_id":177721,"expires_in":21599,"user_id":6212350,"token_type":"access"}'
  recorded_at: Fri, 20 Jul 2018 10:01:50 GMT
recorded_with: VCR 4.0.0
