---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/oauth/v1/token
    body:
      encoding: US-ASCII
      string: client_id=client_id&client_secret=client_secret&code=invalid_code&grant_type=authorization_code&redirect_uri=test_redirect_uri
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - 2BBDC73114B3ACBC9EF0E0CBF711B1F865B7DE41B5000000000000000000
    body:
      encoding: UTF-8
      string: '{"status":"BAD_AUTH_CODE","message":"missing or unknown auth code","correlationId":"ce3a98b8-ce5a-4751-b830-7f9d76549d5a","requestId":"fd9fdcf5e03b9eb80ef87e3397ac3975"}'
      effective_url: https://api.hubapi.com/oauth/v1/token
  recorded_at: Tue, 17 Jul 2018 15:09:30 GMT
recorded_with: VCR 4.0.0
