---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/oauth/v1/token
    body:
      encoding: US-ASCII
      string: client_id=client_id&client_secret=client_secret&grant_type=refresh_token&redirect_uri=test_redirect_uri&refresh_token=refresh_token
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - 2BC698792A1FBE4E30F170B06659F897FF9D34A653000000000000000000
    body:
      encoding: UTF-8
      string: '{"refresh_token":"refresh_token","access_token":"new_access_token","expires_in":21600}'
      effective_url: https://api.hubapi.com/oauth/v1/token
  recorded_at: Wed, 18 Jul 2018 08:24:06 GMT
- request:
    method: get
    uri: https://api.hubapi.com/oauth/v1/access-tokens/new_access_token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer new_access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - 2B29CCE796E6025ADD93B049BAB6D73542DAB28C7F000000000000000000
    body:
      encoding: UTF-8
      string: '{"token":"new_access_token","user":"adam@saleskick.co","hub_domain":"adamsales-dev-4738746.com","scopes":["contacts","oauth"],"hub_id":4738746,"app_id":177721,"expires_in":21599,"user_id":6212350,"token_type":"access"}'
      effective_url: https://api.hubapi.com/oauth/v1/access-tokens/new_access_token
  recorded_at: Wed, 18 Jul 2018 08:24:06 GMT
recorded_with: VCR 4.0.0
